In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv("datascience_salaries.csv")
print(df.head())
scaler = MinMaxScaler()
df["salary_norm"] = scaler.fit_transform(df[["salary"]])

print("\nNormalized salary (first 5):")
print(df[["salary", "salary_norm"]].head())

num_df = df.select_dtypes(include=[np.number]).dropna()

pca = PCA(n_components=2)
reduced = pca.fit_transform(num_df)

df["PCA1"] = reduced[:, 0]
df["PCA2"] = reduced[:, 1]

print("\nPCA Explained Variance:", pca.explained_variance_ratio_)
print(reduced[:5])

salary_summary = df.groupby("experience_level")["salary"].agg(["mean", "median"]).reset_index()
print("\nAverage & Median Salaries by Experience Level:")
print(salary_summary)

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

Normalized salary (first 5):
   salary  salary_norm
0  149000     0.601010
1  120000     0.454545
2   68000     0.191919
3  120000     0.454545
4  149000     0.601010

PCA Explained Variance: [9.99604599e-01 3.95400641e-04]
[[84163.76608131  -949.19318317]
 [55163.7671306   -941.13835148]
 [ 3163.76847212  -929.28141183]
 [55163.76754817  -939.13835152]
 [84163.76712524  -944.19318328]]

Average & Median Salaries by Experience Level:
  experience_level          mean   median
0            Entry  36111.111111  30000.0
1        Executive  76076.923077  46000.0
2              Mid  51786.885246  51000.0
3           Senior  75088.033012  68000.0